.menu-title {
   
  font-size: 6rem;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: -1rem;
  margin-bottom: -1rem !important;
  color: #FFBD59;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 4px 4px 0px #04371F,  
  6px 6px 0px #ff5757,  
  8px 8px 0px #ff5757;  
}  

.menu-container {
    width: 100%;
    padding: 20px;
    background-color: #006633;
  }
  
  .category-bar {
    display: flex;
    overflow-x: auto;
    background-color: #ffcc66;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 2rem;
  }
  
  .category-button {
    background-color: #ffcc66;
    color: #663300;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .category-button:hover {
    background-color: #ffb84d;
  }
  
  .category-button.active {
    background-color: #996633;
    color: #ffffff;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .menu-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    text-align: center;
  }

  .menucard:hover{
    transform: scale(1.07) !important;
    transition: 0.2s ease-in-out;
  }
  
  .menu-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .menu-card-content {
    padding: 15px;
  }
  
  .menu-card-content h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #663300;
  }
  
  .menu-card-content p {
    font-size: 16px;
    color: #333333;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0; 
}

.custom-carousel {
    max-width: 500px; 
    max-height: 500px; 
    border: none; 
}

.custom-carousel-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border-radius: 15px;
}

.categorydditem:hover{
  background-color: white;
  color: black;
  border-radius: 1rem;
}
.popupoverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menupopup{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffbd59;
  border: .15rem solid #4E342E;
  border-radius: 2rem;
  padding: 30px;
  z-index: 1000;
  box-shadow: '0 0 15px rgba(0, 0, 0, 0.3)';
  width: 100%; 
  max-width: 600px;
  max-height: 80vh;
  overflow: auto; 
  text-align: center;
  position: relative;
  overflow: hidden;
}

.menupopup::-webkit-scrollbar {
  display: none;
}

.menupopup {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

@media (max-width: 1200px) { 
  .menupopup{
    width: 90% !important;
    height: auto !important;
    /* margin-bottom: 3rem;
    margin-right: 3rem; */
  }
}

@media (max-width: 1200px) { 
  .menupopup h2{
    font-size: 2rem !important;
  }
}

@media (max-width: 1200px) { 
  .menupopup p{
    font-size: 1.5rem !important;
  }
}

@media (max-width: 1200px) { 
  .menupopup img{
    width: 85% !important;
    height: auto !important;
  }
}

@media (max-width: 1200px) { 
  .menupopup span{
    font-size: 2rem !important;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

/*  */

@media (max-width: 991px) { 
  .menupopup{
    width: 80% !important;
    height: auto !important;
  }
}

@media (max-width: 991px) { 
  .menupopup h2{
    font-size: 2rem !important;
  }
}

@media (max-width: 991px) { 
  .menupopup p{
    font-size: 1.5rem !important;
  }
}

@media (max-width: 991px) { 
  .menupopup img{
    width: 85% !important;
    height: auto !important;
  }
}

.drinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}



/*  */

/* @media (max-width: 590px) { 
  .menupopup{
    width: 50% !important;
    height: auto !important;
  }
}

@media (max-width: 590px) { 
  .menupopup h2{
    font-size: 1rem !important;
  }
}

@media (max-width: 590px) { 
  .menupopup p{
    font-size: .7rem !important;
  }
}

@media (max-width: 590px) { 
  .menupopup img{
    width: 70% !important;
    height: auto !important;
  }
} */