html, body {
  height: 50%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 50%;
}

.footer {
  background-color: #04371F; 
  color: #fff;
  padding: 5px 10px; 
  text-align: left;
  margin-top: auto; 
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 5px; 
}

.logo-section img {
  width: 100px; 
  margin-bottom: 5px; 
}

.footer-section h4 {
  margin-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px; 
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social-icons {
  margin-top: 5px; 
}

.social-icons a {
  color: #ccc;
  margin-right: 8px; 
  font-size: 16px; 
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 5px; 
}

.follow-us {
  margin-left: 0;
  text-align: left; 
}
