#home{
    margin: 0 4rem;
    color: #FFBD59;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;

}

#home:hover{
    background-color: #783F1D;
    color: white;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

#menu{
    margin: 0 5rem;
    color: #FFBD59;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;

}

#menu:hover{
    background-color: #783F1D;
    color: white;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

#contactus{
    margin: 0 2.6rem;
    margin-left: 4rem;
    color: #FFBD59;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;

}


#contactus:hover{
    background-color: #783F1D;
    color: white;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

#faqs{
    margin: 0 5rem;
    color: #FFBD59;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;

}

#faqs:hover{
    background-color: #783F1D;
    color: white;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

/* this is for the header line di ko nga lang matago pag naka small website tho remove this if di maayos pls */
.navbar-nav .nav-link {
    margin: 0 2rem;
    color: #FFBD59;
    position: relative;
}


.navbar-nav .nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -4.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 1.5rem;
    background-color: #FFBD59;
}

@media (max-width: 991px) { 
    .navbar-nav .nav-link::after {
        display: none;
    }
}
/* this is for the header line di ko nga lang matago pag naka small website tho */



#navbar {
    background-color: #0A5C36 !important;
    height: 6rem fit-content;
    transition: all 0.3s ease;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}


#navbar.scrolled {
    background-color: #04371F !important;
    height: 4.5rem fit-content; 
    padding: 0.2rem 0.5rem; 
    font-size: 1rem;
    -webkit-box-shadow: 2px 3px 8px 3px rgba(4,55,31,0.47);
    -moz-box-shadow: 2px 3px 8px 3px rgba(4,55,31,0.47);
    box-shadow: 2px 3px 8px 3px rgba(4,55,31,0.47);
}

#navbar img {
    height: 5.3rem;
    transition: height 0.3s ease;
    margin-right: -7.2rem;
}

#navbar.scrolled img {
    height: 4.3rem;
}
